[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
mypy = "*"
flake8 = "*"
black = "*"
pydocstyle = "*"

[packages]
jupyter = "*"
pandas = "*"
numpy = "*"
tensorflow = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*"
src = {editable = true,path = "."}
pydotplus = "*"
mypy = "*"
flake8 = "*"
black = "*"
pyprind = "*"
nltk = "*"
flask = "*"
wtforms = "*"
jupyterlab = "~=1.0"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
